<div class="container">
  <div class="row main">
    <div class="col-lg-3 offset-lg-1 col-md-10 offset-md-1 convert_box">
      <div class="row">
        <div class="col-sm-12 text-sm-center">
          <%= image_tag '/logo-via-logohub.png', class: 'img-fluid' %>
        </div>
      </div>

      <div class="row">
        <%= render 'convert_box' %>

      </div>
    </div>
  </div>
</div>
