body {
  background: #888;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main{
  margin-top: 50px;
}


.title-box{
  margin-top: 20%;

  .title{
    color: white;
    text-shadow: 2px 0px 2px #000000;
  }
}


.convert_box{
  margin: 10px auto;
  .logo-box{
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
